body {
  margin: 0px;
  background-color: #262121;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#logo {
  margin: 6vh 0vh 6vh 0vh;
  width: 45vh;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

#logo:hover {
  transform: scale(1.02);
}

#register {
  display: flex;
  flex-direction: column;
}

.register {
  padding: 1vh;
  outline: none;
  resize: none;
  font-family: Helvetica;
  font-size: 2.2vh;
  color: #585858;
  margin-bottom: 1.5vh;
}

#submit {
  margin-top: 4vh;
  border-radius: 2%;
  outline: none;
  border: none;
  padding: 1vh 1.5vh 1vh 1.5vh;
  font-size: 2.5vh;
  font-weight: bold;
  cursor: pointer;
  color: #F7F7F7;
  background-color: #003f51;
}
