body {
  margin: 0px;
  background-color: #262121;
}

.page_container {
  height: 100vh;
  overflow: hidden;
}

.content_container {
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}

.header {
  width: 100%;
  height: 13vh;
  background-color: #ffdd00;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  user-select: none;
}

#logo {
  transition: 0.2s;
  margin: 2vh;
  width: 12vh;
}

#logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

h1 {
  font-family: Helvetica;
  font-size: 4.5vh;
  color: #003f51;
}

h1:hover {
  cursor: pointer;
}

@media only screen and (min-aspect-ratio: 1/1) {
  .menu {
    width: 100%;
    height: 6vh;
    background-color: #003f51;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: sticky;
    align-content: center;
    top: 0px;
    z-index: 1;
    user-select: none;
  }

  .bakgrunn {
    min-height: 50vw;
  }

  #side_menu {
    display: none;
  }

  #side_menu_button {
    display: none;
  }

  .slideShowContainer {
    width: 60vw;
    height: 38vw;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .header {
    border-bottom: 3px solid #003f51;
  }

  .menu {
    display: none !important;
  }

  .bakgrunn {
    min-height: 100vh;
  }

  .slideShowContainer {
    width: 100%;
    height: 40vw;
  }


  #side_menu {
    width: 0vw;
    overflow: hidden;
    height: 100vh;
    background-color: #003f51;
    z-index: 2;
    position: absolute;
    left: 0px;
    transition: 0.5s;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    user-select: none;
  }

  #side_menu_button {
    position: absolute;
    left: 0px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0px;
    font-size: 8vw;
    cursor: pointer;
    margin: 1vh;
    transition: 0.5s;
    padding: 0px 2vw 1vw 2vw;
  }

  #side_menu_button:hover {
    background-color: hsla(0, 0%, 85%, 0.6);
  }

  #close {
    margin: 2vh 3vh 0px 0px;
    color: #F7F7F7;
    overflow: hidden;
    font-size: 4vh;
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  #side_menu_options {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 8vh 4vh 0px 8vh;
  }

  .side_option_container:not(#side_documents) {
    margin-top: 3vh;
    flex-basis: 100%;
  }

  #side_documents {
    margin-top: 1.5vh;
  }



  #side_active::after {
    content: "";
    width: 100%;
    height: 10px;
    background-color: blue;
  }

  .side_option {
    color: #F7F7F7;
    width: auto;
    font-family: Helvetica;
    text-decoration: none;
    font-size: 5vh;
    position: relative;
    cursor: pointer;
  }

 .side_option::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #F7F7F7;
   visibility: hidden;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
 }

 .side_option:hover::before {
   visibility: visible;
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
 }

 #side_dropdown_container_1 {
   height: auto;
   max-height: 0px;
   height: auto;
   display: flex;
   overflow: hidden;
   transition: 0.5s;
   flex-flow: row wrap;
   padding-left: 8vh;
   margin-top: 1.5vh;
   line-height: 1.6;
 }

 #side_dropdown_container_2 {
   height: auto;
   max-height: 0px;
   height: auto;
   display: flex;
   overflow: hidden;
   transition: 0.5s;
   flex-flow: row wrap;
   padding-left: 8vh;
   margin-top: 1.5vh;
   line-height: 1.6;
 }

 .side_drop_option {
   flex-basis: 100%;
   font-size: 3.5vh;
   font-family: Helvetica;
   color: #F7F7F7;
   text-decoration: none;
 }

 .side_drop_option:hover {
   text-decoration: underline;
 }

}

/*Navigation bar top */

/*Menu container*/
.menu{
  width: 100%;
  height: 6vh;
  background-color: #003f51;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: sticky;
  align-content: center;
  top: 0px;
  z-index: 1;
}

.option:not(#active) {
  background-color: #003f51;
  align-items: center;
  display: flex;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica;
  color: #F7F7F7;
  font-size: 2.5vh;
  font-weight: bold;
  position: relative;
  transition: background-color 1s ease;
  transition: color 0.1s ease;
  padding: 0px 0.7em 0px 0.7em;
  user-select: none;
  cursor: pointer;
}

#active {
  height: 100%;
  align-items: center;
  display: flex;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica;
  color: #003f51;
  background-color: #F7F7F7;
  font-weight: bold;
  font-size: 2.5vh;
  position: relative;
  padding: 0px 0.7em 0px 0.7em;
  user-select: none;
  cursor: pointer;
}

.drop_arrow{
  margin-left: 0.6em;
  transition: transform 0.3s ease;
}

.dropdown_container {
  height: 100%;
  position: relative;
}

.dropMenu {
  width: 10em;
  overflow: hidden;
  transition: max-height 0.8s;
  height: auto;
  max-height: 0px;
  font-size: 2.5vh;
  position: absolute;
  background-color: #003f51;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  box-sizing: border-box;
}

.optionContainer{
  padding: 5%
}

.drop_option {
  position: relative;
  text-decoration: none;
  font-family: Helvetica;
  color: #F7F7F7;
  font-size: 2.3vh;
  padding: 8%;
  display: block;
  transition: color 0.3s ease;
}

.drop_option:hover {
  text-decoration: underline;
}

.option:hover:not(#active) {
  background-color: #F7F7F7;
  color: #003f51;
}

.bakgrunn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  /* background-image: linear-gradient(#F7F7F7, #D5D5D5); */
}

.innpakning {
  width: 60%;
}

.midlertidig {
  height: 800px;
}

.thora:hover {
  cursor: pointer;
}

/* Container of the slideshow */
.slideShowContainer{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 3.5vw 0px 3.5vw 0px;
  user-select: none;
}

/*Container of only the slides*/
.slideContainer{
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  user-select: none;
}

/* Sets all slides to be invisible */
.slides{
  opacity: 0;
  transition: opacity 0.7s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.start {
  opacity: 1;
}

/* Next/Previous buttons */
.next, .previous{
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 2%;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 0 0.5vw 0.5vw 0;
  user-select: none;
  color:  #003f51;
}

/* Properly positions the Next button */
.next {
  right: 0;
  border-radius: 0.5vw 0 0 0.5vw;
}

/* Hover effect on Next/Previous buttons */
.previous:hover, .next:hover {
  background-color: hsla(0, 0%, 92%, 0.6);
}

/* Number / total pictures */
.number{
 color: #37C7AB;
 font-size: 2vw;
 padding: 1% 1%;
 position: absolute;
 top: 0;
}

/* Selection dots */
.dotContainer{
  display: flex;
  user-select: none;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.dot{
  cursor: pointer;
  height: 1.2vw;
  width: 1.2vw;
  margin: 0 0.5vw;
  background-color: #D0D0D0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  user-select: none;
}

.active, .dot:hover {
  background-color: #3B3B3B;
}

/*Makes the images not look shit*/
.slides img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
    background-color: #262121;
    display: flex;
    flex-flow: row wrap;
    padding: 4vw 10vw;
    user-select: none;
  }

  h2 {
    font-family: Helvetica;
    color: white;
    font-weight: bold;
    font-size: 3.5vh;
  }

  .foot1 {
    order: 1;
    flex-basis: 60%;
    font-family: Helvetica;
    color: #939393;
    font-size: 2vh;
    line-height: 1.6;
    margin: 3vw;
  }

  .foot2 {
    order: 2;
    flex: 1;
    margin: 3vw;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
  }

  #links {
    display: flex;
    flex-flow: row nowrap;
  }

  .insta {
    height: 35px;
    width: auto;
    background-color: #FFB71D;
    padding: 10px;
    transition: background-color 0.5s;
  }

  #mail_container {
    display: flex;
    flex-flow: row wrap;
  }

  .insta:hover {
    background-color: #D98611;
  }

  .twitter {
    height: 43px;
    width: auto;
    padding: 6px;
    background-color: #FFB71D;
    transition: background-color 0.5s;
  }

  .kontakt {
    margin: 0px 0.4vw 0px 0px;
    text-decoration: none;
    color: none;
  }

  .twitter:hover {
    background-color: #D98611;
  }

  .tube {
    height: 25px;
    width: auto;
    padding: 15px 10px 15px 10px;
    background-color: #FFB71D;
    transition: background-color 0.5s;
  }

  .tube:hover {
    background-color: #D98611;
  }

  .face {
    height: 55px;
    width: auto;
    padding: 0px;
    background-color: #FFB71D;
    transition: background-color 0.5s;
  }

  .face:hover {
    background-color: #D98611;
  }

  mail {
    font-family: Helvetica;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
  }

  #mail {
    margin-left: 2%;
    font-family: Helvetica;
    color: #939393;
    font-size: 2.2vh;
    line-height: 1.6;
    text-decoration: none;
  }

  #mail:hover {
    text-decoration: underline;
  }

  .foot3 {
    order: 3;
    flex-basis: 100%;
    margin: 3%;
    align-items: center;
    text-align: center;
  }

  .copyright {
    font-family: Helvetica;
    color: #939393;
    font-size: 2vh;
    padding: 1.8vw;
    background-color: #2E2829;
  }
