.background {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #F7F7F7;
}

.pageCover{
  background-color: #000000;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  z-index: 9;
  user-select: none;
}

@media only screen and (min-aspect-ratio: 1/1) {
  .gallery{
    width: 60%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15vh;
    user-select: none;
  }

  .galleryThumbnail{
    width: 17vw;
    height: 17vw;
    max-width: 17vw;
    max-height: 17vw;
    box-sizing: border-box;
    cursor: pointer;
    object-fit: cover;
    margin: 2vh;
    background-color: #F7F7F7;
    padding: 0.5vh;
    -webkit-box-shadow: 2px 3px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 19px -5px rgba(0,0,0,0.75);
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .gallery{
    width: 95%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15vh;
    user-select: none;
  }

  .galleryThumbnail{
    width: 95vw;
    height: 95vw;
    max-width: 95vw;
    max-height: 95vw;
    box-sizing: border-box;
    cursor: pointer;
    object-fit: cover;
    margin: 2vh;
    background-color: #F7F7F7;
    padding: 0.5vh;
    -webkit-box-shadow: 2px 3px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 19px -5px rgba(0,0,0,0.75);
  }
}

.galleryPicture{
  max-width: 80vw;
  min-width: 30vw;
  max-height: 80vh;
  min-height: 30vw;
  transition: 1s;
  position: absolute;
  background-color: #f7f7f7;
  padding: 1%;
}

.galleryContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  display: none;
  user-select: none;
  z-index: 10;
}
.imageContainer{
  transition: scale 1s;
  position: relative;
  left: auto;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryNext{
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 4rem;
  opacity: 0;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 13;
}

.galleryNext:hover{
  opacity: 1;
}

.galleryPrev{
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 4rem;
  transition: opacity 1s;
  opacity: 0;
  cursor: pointer;
  z-index: 13;
}

.galleryPrev:hover{
  opacity: 1;
}

.arrow{
  margin: 10%;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  color: #F7F7F7;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 13;
}

.closeX{
  position: absolute;
  top: -1rem;
  right: -1rem;
  margin: 0%;
  cursor: pointer;
}

@keyframes arrows{
  100% {opacity: 1}
  0% {opacity: 0}
}

.arrows{
  opacity: 0;
}

@keyframes dots{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.dots{
  animation: dots 0.5s;
  -webkit-animation: dots 0.5s;
  transition: opacity 1s;
}

.dots:hover{
  opacity: 1;
}

@media only screen and (max-aspect-ratio: 1/1){
  .galleryThumbnail{
    width: 100%;
    height: 65vw;
  }
  .gallery{
    padding-top: 10vw;
  }
}

.galleryInfoContainer {
  margin: 8vh 0vh 8vh 0vh;
  display: flex;
  width: 55%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h11 {
  font-size: 5vh;
  font-weight: bold;
  font-family: Helvetica;
  color: #2D2D2D;
  user-select: none;
  margin: 0px;
}

.galleryLogo {
  flex-basis: 20%;
  margin-right: 10vh;
}

#galleryLogo {
  width: 130%;
  height: auto;
}

.galleryInfo {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  font-family: Helvetica;
  line-height: 1.4;
  color: #585858;
}

#postsContainer {
  font-size: 2.5vh;
  display: flex;
  flex-flow: row nowrap;
}

#postNum {
  margin-right: 0.5vh;
  margin-left: 0.5vh;
  color: #2D2D2D !important;
}
