html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: nowrap;
}

#chat-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    background-color: white;
}

#chat-con {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap;
    background-color: rgba(247, 247, 247, 1.0);
    border: 1px solid rgba(235, 235, 235, 1.0);
    box-shadow: 0px 0px 10px rgba(130, 130, 130, 0.1);
    margin: 1% 0;
}

#chat-box {
    width: 100%;
    height: 80%;
    background-color: white;
    overflow: scroll;
}

.msg-cell {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid grey;
}

.username {
    width: 15%;
    max-width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 900;
}

.msg {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 200;
}

#msg-inp {
    width: 80%;
    height: 10%;
    border: none;
    outline: none;
    text-align: left;
    font-size: 18px;
}

#msg-submit {
    width: 15%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00C3FF;
    font-family: "Arial";
    font-size: 20px;
    color: white;
}

#msg-submit:hover {
    cursor: pointer;
    background-color: #00C3EF;
}

#name-inp {
    width: 40%;
    height: 10%;
    background-color: white;
    outline: none;
    border: 1px solid rgba(130, 130, 130, 0.3);
    font-size: 26px;
    font-weight: 200;
}

#name-submit {
    width: 20%;
    height: 10.25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00C3FF;
    border: 1px solid #00C3FF;
    font-size: 26px;
    color: white;
    font-family: "Arial";
}

#name-submit:hover {
    cursor: pointer;
    background-color: #00C3EF;
}
